<div class=" banda-banner">
    <div class="container">

        <div class="d-flex">
            <h3 class="p-2 w-100">¡Ahora! Obtenga una Consulta Gratuita para su Caso.</h3>
            <div class="nav justify-content-end colornav">
                <a class="btn-contacto2 " href="#">PREPARA TU CITA</a>
            </div>

        </div>
    </div>
</div>
<section id="body" class="padded">
    <div class="container">
        <div class="row align-items-center">

            <div class=" d-flex">
                <div class="col-md-4">
                    <span class="p-title">BIENVENIDO</span>
                    <h2 class=" w-75">Reputación. Respeto. Resultado.</h2>
                    <div class="linea sm-left">

                    </div>
                </div>
                <div class="col-md-8">
                    <p>Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat velit proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo anim ex veniam culpa
                        eiusmod id nostrud sit cupidatat in veniam ad. Eiusmod consequat eu adipisicing minim anim aliquip cupidatat culpa excepteur quis. Occaecat sit eu exercitation irure Lorem incididunt nostrud.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="body" class="padded">
    <div class="container">
        <h2>Body2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea inventore unde tempora vel officia neque praesentium corrupti nihil? Minima magni beatae quam maxime nobis vitae ullam expedita et quod quas deserunt possimus quia facere in mollitia
            natus dolorum, quis, quidem sapiente ea tempora! Sequi eligendi vel qui, odit magnam fugit assumenda quae dignissimos, eos nesciunt, dolore natus perferendis aliquid. Quod repellendus voluptates officiis minima. Veritatis asperiores vel, libero
            officia iste eius, reiciendis quo mollitia atque soluta deleniti, aliquid quasi temporibus explicabo recusandae. Hic, praesentium. Temporibus tempore commodi suscipit facere aliquid sed ad fugit architecto, error eos nam dolorum quis nostrum
            qui voluptatum veritatis optio! Corrupti officia facere illum magnam, alias repudiandae rerum et libero iusto? Minima ex est incidunt expedita?</p>
    </div>
</section>