.contenedor-inicio {
    margin-left: 800px;
    margin-bottom: 400px;
}
section .imagen-banner{
    width: 100%;
    
}

.carousel-caption h3 {
    color: #eaa636;
    font-family: "Jost";
    font-size: 22px;
    margin-bottom: 25px;
}

.carousel-caption h1 {
    color: #111111;
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 56px;
    letter-spacing: -1px;
    font-family: "Jost";
    font-weight: 600;
}

.texto {
    font-size: 16px;
    line-height: 1.7em;
    margin-top: 0;
    font-weight: 400;
    margin-bottom: 20px;
    color: #707070;
}

.btn-contacto {
    background-color: #eaa636;
    color: #fff;
    outline: 0;
    font-weight: bold;
    text-decoration: none;
    padding: 11px 30px;
    width: 165px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    border-radius: 3px;
    font-family: "Jost";
    margin-left: 12px;
    margin-top: 20px;
}

.btn-contacto:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.4s;
}