<section class=" active ">
    <div class="imagen-banner">
        <img src="assets/justica-banner.jpg" class="img-fluid" alt="...">
    </div>
    <div class="carousel-caption d-none d-md-block container">
        <div class="row col-lg-5 contenedor-inicio ">
            <h3 class="text-md-start">Necesita alguna ayuda?</h3>
            <h1 class="text-md-start">Cuenta con Nosotros</h1>
            <p class="text-md-start texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br> eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a class="btn-contacto " href="#">Contáctanos</a>
        </div>
    </div>
</section>