<header id="main-header">
    <div class="container">

        <ul class="nav justify-content-end colornav">
            <div class="redes-iconos">
                <fa-icon class="face" [icon]="faFacebookF "></fa-icon>
                <fa-icon class="twit" [icon]="faTwitter "></fa-icon>
                <fa-icon class="instag" [icon]="faInstagram "></fa-icon>
            </div>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Política de Privacidad</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Solicita una cita</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">FAQ</a>
            </li>

        </ul>
    </div>
</header>