<footer id="main-footer" style="background-size: cover;">
    <div class="container">
        <div class="row" style="background-size: cover;">
            <div class="col-lg-4" style="background-size: cover;">
                <div class="widget" style="background-size: cover;">
                    <a href="#">
                        <img src="assets/logo-footer10.png" alt="" class="img-fluid mb20 logo-footer">
                    </a>
                    <address class="s1">
                        <span>
                            <fa-icon class="mapa fa fa-lg" [icon]="faMapMarkerAlt"></fa-icon>
                            Av. Alfredo Benavides, Miraflores 15074
                        </span>                     
                        <span>
                            <fa-icon class="fono" [icon]="faPhoneAlt"></fa-icon>
                            +1 333 9296
                        </span>
                        <span>
                            <fa-icon class="email" [icon]="faEnvelope"></fa-icon>
                            contact@isilcampus.com
                        </span>
                        <span>
                            <fa-icon class="pdf" [icon]="faFilePdf"></fa-icon>
                            Descarga el Brochure
                        </span>
                    </address>
                </div>
            </div>
            <div class="col-md-4 footer2" style="background-size: cover;">
                <h5 class="idcolor mb20">Practice Areas</h5>
                <ul class="ul-estilos2">
                    <li>
                        <fa-icon class="check" [icon]="faCheck"></fa-icon>Corporativa y M&A</li>
                    <li>
                        <fa-icon class="check" [icon]="faCheck"></fa-icon>Construcción e Inmobiliaria</li>
                    <li>
                        <fa-icon class="check" [icon]="faCheck"></fa-icon>Resolución de litigios comerciales</li>
                    <li>
                        <fa-icon class="check" [icon]="faCheck"></fa-icon>Empleo</li>
                    <li>
                        <fa-icon class="check" [icon]="faCheck"></fa-icon>Bancos y finanzas</li>
                </ul>
            </div>
            <div class="col-lg-4" style="background-size: cover;">
                <div class="widget">
                    <h5 class="idcolor">Boletin informativo</h5>
                    <p>Signup for our newsletter to get the latest news,<br> updates and special offers in your inbox.</p>
                    <form action="blank.php" class="row" id="form_subscribe" method="post" name="form_subscribe">
                        <div class="col-text-center" style="background-size: cover;">
                            <input class="form-control" id="name1" name="name1" placeholder="Introduce tu correo electrónico" type="text">
                            <a href="#" id="btn-submit">
                                <fa-icon class="flecha-derecha" [icon]="faLongArrowAltRight"></fa-icon>
                            </a>
                            <div class="fondo-claro">

                            </div>
                        </div>
                    </form>
                    <div class="espacios">

                    </div>
                    <small>Su correo está seguro con nosotros. No enviamos spam.</small>
                </div>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="de-flex">
                        <div class="de-flex-col">
                            © Copyright 2021 - Amazon por Paul Cabrera
                        </div>
                        <div class="de-flex-col">
                            <div class="redes-sociales">
                                <a href="">
                                    <fa-icon class="face" [icon]="faFacebookF"></fa-icon>
                                </a>
                                <a href="">
                                    <fa-icon class="twitter" [icon]="faTwitter"></fa-icon>
                                </a>
                                <a href="">
                                    <fa-icon class="linkedin" [icon]="faLinkedinIn"></fa-icon>
                                </a>
                                <a href="">
                                    <fa-icon class="pinterest" [icon]="faPinterest"></fa-icon>
                                </a>
                                <a href="">
                                    <fa-icon class="rss" [icon]="faRss"></fa-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>